body {
    padding: 10px;
    margin: 10px;
}

header {
    padding: 10px;
    background-color: #B3B3B3;
    background-image: url("http://www.utdallas.edu/~bxc151130/head.jpg");
    background-repeat:no-repeat;
    background-size: 100%;
    
}
nav{
        text-align: center;
        margin-top:8%;
}
nav a{
    display: inline-block;
    width: 10%;
    margin: 2%;
    padding: 1%;
    border-radius: 2px;
    text-decoration: none;
    background: rgba(230, 221, 156, 0.34);
    color: #FFFFFF;
    text-align: center;
    font-family: 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright, 
    "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    font-weight: 70;
}
.left figcaption{
    font-family: 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright, 
    "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    font-weight: 70;
    text-align: center;
}
.active {
    color: #EA5105;
    font-family: 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright, 
    "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    background: rgba(0, 0, 0, 0.80);
    font-weight: 900;
}

h1 {
   
    text-align: center;
    font-family: 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright, 
    "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    font-size: 70px;
    font-weight: 500;
    margin-top:70px;
    color:#FFFFFF;
}

h2 {
    color: #EA5105;
    text-transform:uppercase;
    font-weight: 170;
    font-family: Arial;
}

section {
    background: #FFFFFF;
    font-family: Arial;
    letter-spacing:0.3px;
    
    line-height:17pt;
    margin:25px 0;
}
p{
padding: 0;
margin: 20px;
}

.leftpic {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 20%;
    margin-bottom: 30%;
    margin-right: auto;
    margin-left: auto;
}

.left {
    float: left;
    
    width: 20%;
    height: 100%;
    padding-bottom: 20%;
    background-color: rgb(230, 221, 156);

}

.right {
    
    padding: 4%;
    margin-top: 0.01%;
    float: right;
    width: 80%;
    box-sizing: border-box;
}
footer{
    
    background: #C7EDCC;
    clear: both;
   
}
#followword{
    font-family: 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright, 
    "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    font-weight: 70;
}
span{
    display: inline-block;
    
}
.website{
    width:50px;
    margin:20px; 
    

    }
.website1{
    float: right;
}